# Pandas Dataframe

In [11]:
import os  #'os' library to change the working directory

In [12]:
import pandas as pd  #'pandas' library to work with dataframe

In [13]:
import numpy as np   #'numpy' library to perform numeric operations

# Changing the working directory
os.chdir("D:\Pandas")

In [14]:
 #Importing data into spyder 
df = pd.read_csv('./ToyotaCorolla.csv')

In [15]:
df

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
2,3,?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,...,1,1,1,0,1,1,1,0,0,0
1432,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,...,0,0,1,0,0,1,1,0,0,0
1433,1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,...,0,0,1,0,0,0,1,0,0,0
1434,1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,...,0,0,0,0,0,0,1,0,0,0
1435,1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,...,0,0,1,0,0,0,0,0,0,0

In [16]:
df=pd.read_csv(r'./ToyotaCorolla.csv',index_col=0)

In [17]:
df #first column treated as first column

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Automatic,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
Id,,,,,,,,,,,,,,,,,,,,,
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,0,...,1,1,1,0,0,0,1,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,0,...,1,0,1,0,0,0,1,0,0,0
3,?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,0,...,0,0,1,0,0,0,1,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,0,...,0,0,1,0,0,0,1,0,0,0
5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,0,...,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,0,...,1,1,1,0,1,1,1,0,0,0
1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,0,...,0,0,1,0,0,1,1,0,0,0
1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,0,...,0,0,1,0,0,0,1,0,0,0
1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,0,...,0,0,0,0,0,0,1,0,0,0
1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,0,...,0,0,1,0,0,0,0,0,0,0

# Shallow copy

In [18]:
samp=df.copy(deep=False)     #It only create a new variable that shares the referance of the original object
                             #Any changes made to a copy of the object will be reflected in the original object itself

# Deep copy

In [19]:
df1=df.copy(deep=True) #In case of deep copy of object is copied in other object with no reference to the original.
                       #Any changes made to a copy of object will not be reflected in the original object.

# Attributes of data

In [20]:
df1.index             #To get the index (ROW LABELS) of the dataframe

Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442],
      dtype='int64', name='Id', length=1436)

In [21]:
df1.columns           # To get the COLUMN LABElS of datframe

Index(['Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Automatic', 'cc', 'Doors', 'Cylinders',
       'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee', 'BOVAG_Guarantee',
       'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2', 'Airco',
       'Automatic_airco', 'Boardcomputer', 'CD_Player', 'Central_Lock',
       'Powered_Windows', 'Power_Steering', 'Radio', 'Mistlamps',
       'Sport_Model', 'Backseat_Divider', 'Metallic_Rim', 'Radio_cassette',
       'Tow_Bar'],
      dtype='object')

In [22]:
df1.size              #To get the total number of elements from the dtataframe

51696

In [23]:
df1.shape             #To get the dimensionality of the dataframe

(1436, 36)

In [24]:
df1.memory_usage()    #The memory usage of each column in bytes

Index               11488
Model               11488
Price               11488
Age_08_04           11488
Mfg_Month           11488
Mfg_Year            11488
KM                  11488
Fuel_Type           11488
HP                  11488
Met_Color           11488
Automatic           11488
cc                  11488
Doors               11488
Cylinders           11488
Gears               11488
Quarterly_Tax       11488
Weight              11488
Mfr_Guarantee       11488
BOVAG_Guarantee     11488
Guarantee_Period    11488
ABS                 11488
Airbag_1            11488
Airbag_2            11488
Airco               11488
Automatic_airco     11488
Boardcomputer       11488
CD_Player           11488
Central_Lock        11488
Powered_Windows     11488
Power_Steering      11488
Radio               11488
Mistlamps           11488
Sport_Model         11488
Backseat_Divider    11488
Metallic_Rim        11488
Radio_cassette      11488
Tow_Bar             11488
dtype: int64

In [25]:
df1.ndim              #The number of axes/ array dimensions

2

# Indexing and selecting data

In [26]:
df1.head(6)           #By default,the head() returns first 5 rows

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Automatic,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
Id,,,,,,,,,,,,,,,,,,,,,
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,0,...,1,1,1,0,0,0,1,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,0,...,1,0,1,0,0,0,1,0,0,0
3,?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,0,...,0,0,1,0,0,0,1,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,0,...,0,0,1,0,0,0,1,0,0,0
5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,0,...,1,1,1,0,1,0,1,0,0,0
6,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,12950,32,1,2002,61000,Diesel,90,0,0,...,1,1,1,0,1,0,1,0,0,0

In [27]:
df1.tail(5)            #The function tail returns the last 'n' rows for the object based on position

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Automatic,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
Id,,,,,,,,,,,,,,,,,,,,,
1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,0,...,1,1,1,0,1,1,1,0,0,0
1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,0,...,0,0,1,0,0,1,1,0,0,0
1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,0,...,0,0,1,0,0,0,1,0,0,0
1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,0,...,0,0,0,0,0,0,1,0,0,0
1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,0,...,0,0,1,0,0,0,0,0,0,0

In [28]:
df1.at[1440,'KM'] #'at' provides label-based scalar lookups

17016

In [29]:
df1.iat[5,6]      #'iat' provides integer-based lookups

'Diesel'

In [30]:
df1.loc[:,'Fuel_Type']   #To access a group of rows and columns by label(s)

Id
1       Diesel
2       Diesel
3       Diesel
4       Diesel
5       Diesel
         ...
1438    Petrol
1439    Petrol
1440    Petrol
1441    Petrol
1442    Petrol
Name: Fuel_Type, Length: 1436, dtype: object

# Data types

In [31]:
#int  - Numeric chracters(int64)
#float - Numeric chracters with decimals(int63)
#pbject -Strings are knowns as object

In [32]:
#Checking datatypes of each column 
df1.dtypes

Model               object
Price                int64
Age_08_04            int64
Mfg_Month            int64
Mfg_Year             int64
KM                   int64
Fuel_Type           object
HP                   int64
Met_Color            int64
Automatic            int64
cc                   int64
Doors                int64
Cylinders            int64
Gears                int64
Quarterly_Tax        int64
Weight               int64
Mfr_Guarantee        int64
BOVAG_Guarantee      int64
Guarantee_Period     int64
ABS                  int64
Airbag_1             int64
Airbag_2             int64
Airco                int64
Automatic_airco      int64
Boardcomputer        int64
CD_Player            int64
Central_Lock         int64
Powered_Windows      int64
Power_Steering       int64
Radio                int64
Mistlamps            int64
Sport_Model          int64
Backseat_Divider     int64
Metallic_Rim         int64
Radio_cassette       int64
Tow_Bar              int64
dtype: object

In [33]:
#Count of unique data types
df1.dtypes.value_counts()

int64     34
object     2
Name: count, dtype: int64

In [34]:
#Searching database on datatypes
df1.select_dtypes(exclude=[object])      #'select_dtypes' returns a subset of the columns from dataframe based on the column dtypes

,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,cc,Doors,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
Id,,,,,,,,,,,,,,,,,,,,,
1,13500,23,10,2002,46986,90,1,0,2000,3,...,1,1,1,0,0,0,1,0,0,0
2,13750,23,10,2002,72937,90,1,0,2000,3,...,1,0,1,0,0,0,1,0,0,0
3,13950,24,9,2002,41711,90,1,0,2000,3,...,0,0,1,0,0,0,1,0,0,0
4,14950,26,7,2002,48000,90,0,0,2000,3,...,0,0,1,0,0,0,1,0,0,0
5,13750,30,3,2002,38500,90,0,0,2000,3,...,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,7500,69,12,1998,20544,86,1,0,1300,3,...,1,1,1,0,1,1,1,0,0,0
1439,10845,72,9,1998,19000,86,0,0,1300,3,...,0,0,1,0,0,1,1,0,0,0
1440,8500,71,10,1998,17016,86,0,0,1300,3,...,0,0,1,0,0,0,1,0,0,0
1441,7250,70,11,1998,16916,86,1,0,1300,3,...,0,0,0,0,0,0,1,0,0,0
1442,6950,76,5,1998,1,110,0,0,1600,5,...,0,0,1,0,0,0,0,0,0,0

In [35]:
#Concise summary of dataframe
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 1 to 1442
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Model             1436 non-null   object
 1   Price             1436 non-null   int64
 2   Age_08_04         1436 non-null   int64
 3   Mfg_Month         1436 non-null   int64
 4   Mfg_Year          1436 non-null   int64
 5   KM                1436 non-null   int64
 6   Fuel_Type         1436 non-null   object
 7   HP                1436 non-null   int64
 8   Met_Color         1436 non-null   int64
 9   Automatic         1436 non-null   int64
 10  cc                1436 non-null   int64
 11  Doors             1436 non-null   int64
 12  Cylinders         1436 non-null   int64
 13  Gears             1436 non-null   int64
 14  Quarterly_Tax     1436 non-null   int64
 15  Weight            1436 non-null   int64
 16  Mfr_Guarantee     1436 non-null   int64
 17  BOVAG_Guarantee   1436 non-null   int64
 18  Guarantee_Period  1436 non-null   int64
 19  ABS               1436 non-null   int64
 20  Airbag_1          1436 non-null   int64
 21  Airbag_2          1436 non-null   int64
 22  Airco             1436 non-null   int64
 23  Automatic_airco   1436 non-null   int64
 24  Boardcomputer     1436 non-null   int64
 25  CD_Player         1436 non-null   int64
 26  Central_Lock      1436 non-null   int64
 27  Powered_Windows   1436 non-null   int64
 28  Power_Steering    1436 non-null   int64
 29  Radio             1436 non-null   int64
 30  Mistlamps         1436 non-null   int64
 31  Sport_Model       1436 non-null   int64
 32  Backseat_Divider  1436 non-null   int64
 33  Metallic_Rim      1436 non-null   int64
 34  Radio_cassette    1436 non-null   int64
 35  Tow_Bar           1436 non-null   int64
dtypes: int64(34), object(2)
memory usage: 447.4+ KB

In [36]:
#Unique elements of columns
np.unique(df1['HP'])          #'Unique' is used to find the unique elememts of the column

array([ 69,  71,  72,  73,  86,  90,  97,  98, 107, 110, 116, 192])

# Converting variables's datatype

In [37]:
#Comverting 'Metcolor' ,'Automatic' to object datatype
df['Met_Color']=df['Met_Color'].astype('object')   #'astype()' method is used to explicitly covert datatype from one to another  
df['Automatic']=df['Automatic'].astype('object')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 1 to 1442
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Model             1436 non-null   object
 1   Price             1436 non-null   int64
 2   Age_08_04         1436 non-null   int64
 3   Mfg_Month         1436 non-null   int64
 4   Mfg_Year          1436 non-null   int64
 5   KM                1436 non-null   int64
 6   Fuel_Type         1436 non-null   object
 7   HP                1436 non-null   int64
 8   Met_Color         1436 non-null   object
 9   Automatic         1436 non-null   object
 10  cc                1436 non-null   int64
 11  Doors             1436 non-null   int64
 12  Cylinders         1436 non-null   int64
 13  Gears             1436 non-null   int64
 14  Quarterly_Tax     1436 non-null   int64
 15  Weight            1436 non-null   int64
 16  Mfr_Guarantee     1436 non-null   int64
 17  BOVAG_Guarantee   1436 non-null   int64
 18  Guarantee_Period  1436 non-null   int64
 19  ABS               1436 non-null   int64
 20  Airbag_1          1436 non-null   int64
 21  Airbag_2          1436 non-null   int64
 22  Airco             1436 non-null   int64
 23  Automatic_airco   1436 non-null   int64
 24  Boardcomputer     1436 non-null   int64
 25  CD_Player         1436 non-null   int64
 26  Central_Lock      1436 non-null   int64
 27  Powered_Windows   1436 non-null   int64
 28  Power_Steering    1436 non-null   int64
 29  Radio             1436 non-null   int64
 30  Mistlamps         1436 non-null   int64
 31  Sport_Model       1436 non-null   int64
 32  Backseat_Divider  1436 non-null   int64
 33  Metallic_Rim      1436 non-null   int64
 34  Radio_cassette    1436 non-null   int64
 35  Tow_Bar           1436 non-null   int64
dtypes: int64(32), object(4)
memory usage: 447.4+ KB

# category vs object datatype

In [39]:
#'nbytes()' is used to get the total bytes consumed by the elements of the columns
df['Power_Steering'].nbytes          #If 'Power_Steering' is of object data type

11488

In [40]:
df['Power_Steering'].astype('category').nbytes      #If 'Power_Steering' is of category data type

1452

# Replacing...

In [41]:
df

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Automatic,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
Id,,,,,,,,,,,,,,,,,,,,,
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,0,...,1,1,1,0,0,0,1,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,0,...,1,0,1,0,0,0,1,0,0,0
3,?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,0,...,0,0,1,0,0,0,1,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,0,...,0,0,1,0,0,0,1,0,0,0
5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,0,...,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,0,...,1,1,1,0,1,1,1,0,0,0
1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,0,...,0,0,1,0,0,1,1,0,0,0
1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,0,...,0,0,1,0,0,0,1,0,0,0
1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,0,...,0,0,0,0,0,0,1,0,0,0
1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,0,...,0,0,1,0,0,0,0,0,0,0

In [42]:
df['Fuel_Type'].replace('Diesel','CNG',inplace=True)

In [43]:
df

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Automatic,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
Id,,,,,,,,,,,,,,,,,,,,,
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,CNG,90,1,0,...,1,1,1,0,0,0,1,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,CNG,90,1,0,...,1,0,1,0,0,0,1,0,0,0
3,?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,CNG,90,1,0,...,0,0,1,0,0,0,1,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,CNG,90,0,0,...,0,0,1,0,0,0,1,0,0,0
5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,CNG,90,0,0,...,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,0,...,1,1,1,0,1,1,1,0,0,0
1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,0,...,0,0,1,0,0,1,1,0,0,0
1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,0,...,0,0,1,0,0,0,1,0,0,0
1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,0,...,0,0,0,0,0,0,1,0,0,0
1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,0,...,0,0,1,0,0,0,0,0,0,0

# To detecting missing values

In [44]:
df.isnull().sum()

Model               0
Price               0
Age_08_04           0
Mfg_Month           0
Mfg_Year            0
KM                  0
Fuel_Type           0
HP                  0
Met_Color           0
Automatic           0
cc                  0
Doors               0
Cylinders           0
Gears               0
Quarterly_Tax       0
Weight              0
Mfr_Guarantee       0
BOVAG_Guarantee     0
Guarantee_Period    0
ABS                 0
Airbag_1            0
Airbag_2            0
Airco               0
Automatic_airco     0
Boardcomputer       0
CD_Player           0
Central_Lock        0
Powered_Windows     0
Power_Steering      0
Radio               0
Mistlamps           0
Sport_Model         0
Backseat_Divider    0
Metallic_Rim        0
Radio_cassette      0
Tow_Bar             0
dtype: int64